@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}





.background{
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.384)),url(../../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
   
   }



header{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.menu-links{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.menu-links a{
    color: #fff;
    font-size: 12px;
}

.menu-links a:hover{
    color:  #2ecc71;
    transition: 0.3s all;
}
.menu-links a.active{
    color: #2ecc71;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    
}


.button{
    color: #2ecc71;
    background: transparent;
    border:solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}


.button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}

.container-text{
    margin-top: 10%;
    margin-left: 10%;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: #2ecc71; 
}

.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 11px;
}

.redes-social{
    margin-top: 10px;
}

.redes-social a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Alinhe verticalmente os itens */
    }

    .menu-icon {
        display: block; /* Mostra o ícone de menu */
    }

    .cabeçalho-link {
        display: none; /* Oculta a lista de links original */
    }

    /* Estilos para o ícone de menu hamburguer */
    .menu-icon {
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #2ecc71;
        margin: 3px 0;
    }

    /* Estilos para a lista de links do menu hamburguer */
    .menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #1a1919;
        position: absolute;
        top: 80px;
        left: 0;
        width: 80%;
        gap: 0;
        border-radius: 10px;
        margin-left: 10%;
        z-index: 1;

    }

    .menu-links.active {
        display: flex;
    }

    .menu-links li {
        padding: 20px;
        width: 100%;
        text-align: center;
        width: 100%;
    }

    .menu-links a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        width: 100%;      
    }

    
}


.container-text-portfolio { 
    padding: 60px 0 0 0px;
}

.portfolio-texto {
    text-align: center;
    padding: 0px !important;
}

.container-portfolio {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 5%;
    flex-wrap: wrap;
}

.container-portfolio img {
    width: 100%;
}

.portfolio-image {
    width: 20vw ;
    height: 12vw;
    color: aliceblue;
    font-size: clamp(12px, 2vw, 23px);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    min-width: 20vw;
    margin-bottom: 20px;
        
}

#closeButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 20px;
    
    
}
  


#openButton {
    width: 20vw ;
    height: 12vw;
    color: aliceblue;
    font-size: clamp(12px, 2vw, 23px);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    min-width: 20vw;
    margin-bottom: 16px;
    }

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#popup img {
    max-width: 80%;
    max-height: 80%;
}

#popup button {
    margin-top: 10px;
}

#nextButton {

    color: #2ecc71;
    background: transparent;
    border:solid 1px transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    text-align: center;

}


#prevButton {

    color: #2ecc71;
    background: transparent;
    border:solid 1px transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    text-align: center;

}

@media screen and (max-width:600px){
    .portfolio-image {
        
        min-width: 40%;
       min-height: 80px;
    }

    .container-text-portfolio { 
        padding: 55px 0 0 0px;
    }

    .container-portfolio {
        width: 100%;
        overflow: hidden;
    }
}