@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Define a cor de destaque ao toque como transparente */
* {
    -webkit-tap-highlight-color: transparent;
  }



/* Estilização da barra de rolagem vertical */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem*/
  }
  
  ::-webkit-scrollbar-track {
      background-color:grey; /* Cor do fundo da barra de rolagem */
  }
  
  
  ::-webkit-scrollbar-thumb {
      background-color: #2ecc71; /* Cor da barra de rolagem */
      border-radius: 5px; /* Borda arredondada */
  }
   
  
  ::-webkit-scrollbar-thumb:hover {
      background-color: #168042; /* Cor da barra de rolagem ao passar o mouse */
  }

/* ini: Preloader */
 
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#1a1919; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}

/* end: Preloader */


.background{
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.384)),url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
   
   }



header{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.menu-links{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.menu-links a{
    color: #fff;
    font-size: 12px;
}

.menu-links a:hover{
    color:  #2ecc71;
    transition: 0.3s all;
}
.menu-links a.active{
    color: #2ecc71;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    
}


.button{
    color: #2ecc71;
    background: transparent;
    border:solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}


.button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}

.container-text{
    margin-top: 10%;
    margin-left: 10%;
}

.contato-texto-p {

    width: 100%;
    height: 100%;
    align-items: center; /* alinhando verticalmente */ 
    display: flex;
    justify-content: center; /* alinhando horizontalmente */
    text-align: center;
    padding-top: 20px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: #2ecc71; 
}

.text p{
    color: #fff;
    font-weight: 500;
    font-size: 11px;

}

.redes-social{
    margin-top: 10px;
}

.redes-social a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 15px;
}


/* Estilos gerais para o formulário */
.formulario-contato {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border:solid 1px #2ecc71;
    
    
    /* Centralização no canto direito */
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    max-width: 400px; /* Define um máximo para o tamanho do formulário */
}

.formulario-contato h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

/* Estilos para os rótulos */
.formulario-contato label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

/* Estilos para os campos de entrada */
.formulario-contato input[type="text"],
.formulario-contato input[type="email"],
.formulario-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para o botão de envio */
.formulario-contato button[type="submit"] {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo quando o botão é hover */
.formulario-contato button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para mensagens de erro */
.formulario-contato input:invalid,
.formulario-contato textarea:invalid {
    border-color: #2ecc71;
}

/* Estilos para a mensagem de sucesso */
.formulario-contato .sucesso {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

/* ESTILOS FORMULÁRIO 2*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  /* Estilos para a seção de conteúdo */
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos para o formulário de contato */
  .contato {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contato h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .field:focus {
    outline: none;
    border-color: #007bff;
  }
  
  textarea.field {
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }


@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Alinhe verticalmente os itens */
    }

    .menu-icon {
        display: block; /* Mostra o ícone de menu */
    }

    .cabeçalho-link {
        display: none; /* Oculta a lista de links original */
    }

    /* Estilos para o ícone de menu hamburguer */
    .menu-icon {
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #2ecc71;
        margin: 3px 0;
    }

    /* Estilos para a lista de links do menu hamburguer */
    .menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #1a1919;
        position: absolute;
        top: 80px;
        left: 0;
        width: 80%;
        gap: 0;
        border-radius: 10px;
        margin-left: 10%;
        z-index: 1;

    }

    .menu-links.active {
        display: flex;
    }

    .menu-links li {
        padding: 20px;
        width: 100%;
        text-align: center;
        width: 100%;
    }

    .menu-links a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        width: 100%;        
    }

    
}


.container-contato { 
    padding: 150px 0 0 0px;
}

.contato-texto {

    width: 100%;
    height: 100%;
    align-items: center; /* alinhando verticalmente */ 
    display: flex;
    justify-content: center; /* alinhando horizontalmente */
    text-align: center;
}

.contato-texto-p {

    width: 100%;
    height: 100%;
    align-items: center; /* alinhando verticalmente */ 
    display: flex;
    justify-content: center; /* alinhando horizontalmente */
    text-align: center;
    padding-top: 20px;
}

.contato-text h3{
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.contato-text h1{
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

.contato-text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.tamanho-whats {
    font-size: 30PX;
}
