.servico-container-text{
    padding: 55px 0 0 130px;
}

.servicos-text h3{
    color: #fff;
    font-size: 15px;
}

.servicos-text h1{
    color: #fff;
    margin-top: 10px;
}

.servicos-text span{
    color: #2ecc71; 
}

.servicos-text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 11px;
}